<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>
<body>
    <h2>Edit Your Message : <%=chat._id%></h2>
    <p>This chat was sent from <%=chat.from%> to <%=chat.to%></p><br><br>
    <form method="POST" action="/chats/<%=chat.id%>?_method=PUT">
        <textarea name="newMsg" rows="5" cols="50"><%=chat.msg%></textarea><br><br>
        <button>Edit</button>
    </form>


    
</body>
</html>